@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <script type="text/javascript">
       window.parent.location =" @MyOnTimeTeam.Infrastructure.Utils.GetSiteRoot()";
   </script>
     <meta name="viewport" content="width=device-width" />
    <title>tokenRedirect</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>

