@{
    ViewBag.Title = "About";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>About My OnTime Team</h3>
</div>
<div class="modal-body">
    <p>MyOntimeTeam provides an overview into what your team members are working on and how much work they have remaining. It was developed by the people at Axosoft for their users of OnTime OnDemand, and is 100% free to use! </p>
    <p>For questions and source code visit (NEED REPOSITORY IN GITHUB)</p>
    
</div>