@{
    ViewBag.Title = "About";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>About My OnTime Team</h3>
</div>
<div class="modal-body">
    <p>My OnTime Team is an easy way to visualize what your team members have assigned to them.</p>
    <p>PLACEHOLDER</p>
</div>