<div id="body">
	<section class="featured">
		<div class="content-wrapper">
			<div class="responsive-grid">
				<!-- ko foreach: users -->
					<div class="">
						<div class="media">
							<a class="pull-left">
								<img class="media-object" data-bind="attr: { src: userImage }" />
							</a>
							<div class="media-body">
								<div>
									<div class="close">&times;</div>
									<h4><!-- ko text: fullName --><!-- /ko --></h4>
								</div>
								<div>
									<span class="label label-info">Defects: <!-- ko text: defectsCount --><!-- /ko --></span>
									<span class="label label-info">Features: <!-- ko text: featuresCount --><!-- /ko --></span>
									<span class="label label-info">Incidents: <!-- ko text: incidentsCount --><!-- /ko --></span>
								</div>
								<div>
									<span>Estimated work remaining: <!-- ko text: workRemaining --><!-- /ko --></span>
								</div>
							</div>
						</div>
					</div>
				<!-- /ko -->
			</div>
		</div>
	</section>
</div>

<script>
	function User(serverUser) {
		this.id = serverUser.id;
		this.firstName = serverUser.first_name;
		this.lastName = serverUser.last_name;
		this.userImage = serverUser.user_image;

		this.fullName = ko.computed(function () {
			return this.firstName + " " + this.lastName;
		}, this);

		this.defectsCount = ko.computed(function () {
			return 17;
		}, this);

		this.featuresCount = ko.computed(function () {
			return 89;
		}, this);

		this.incidentsCount = ko.computed(function () {
			return 118;
		}, this);

		this.workRemaining = ko.computed(function () {
			return "27 Hours";
		}, this);
	}

	myOnTimeTeam.getUsersData().done(function (response) {
		var users = [];
		for (var user in response.data) {
			users.push(new User(response.data[user]));
		}

		var viewModel = {
			users: ko.observableArray(users)
		};

		ko.applyBindings(viewModel);
	});
</script>